root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 2

[*.json]
indent_size = 2

# Match C#, JavaScript, TypeScript, etc.
[*.cs]
# Prefix private fields with _
dotnet_naming_rule.private_fields_naming.style = _private_fields
dotnet_naming_rule.private_fields_naming.symbols = private_fields
dotnet_naming_rule.private_fields_naming.severity = warning
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_symbols.private_fields.required_modifiers = readonly
dotnet_naming_style._private_fields.capitalization = camel_case
dotnet_naming_style._private_fields.required_prefix = _

# Enforce PascalCase for constants
dotnet_naming_rule.constants_naming.style = pascal_case
dotnet_naming_rule.constants_naming.symbols = constants
dotnet_naming_rule.constants_naming.severity = warning
dotnet_naming_symbols.constants.applicable_kinds = field
dotnet_naming_symbols.constants.applicable_accessibilities = private, internal, public
dotnet_naming_symbols.constants.required_modifiers = const
dotnet_naming_style.pascal_case.capitalization = pascal_case
csharp_indent_labels = one_less_than_current

csharp_using_directive_placement = outside_namespace:warning
csharp_prefer_simple_using_statement = true:suggestion
csharp_prefer_braces = when_multiline:suggestion
csharp_style_namespace_declarations = file_scoped:error
csharp_style_prefer_top_level_statements = false:error
csharp_style_prefer_primary_constructors = false:error

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = error
