name: CI

on:
    push:
        paths:
            - 'src/**'
            - '.github/**'
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        defaults:
            run: 
                working-directory: ./src
        steps:
            - uses: actions/checkout@v4

            - name: Setup dotnet 9.x.x
              uses: actions/setup-dotnet@v4
              with: 
                dotnet-version: 9.x.x

            - name: restore
              run: dotnet restore

            - name: build
              run: dotnet build --no-restore

            - name: test
              run: dotnet test --no-build
